<h2 align="center">자유게시판 글 열람</h2>
<b>제목</b>
<%= @post_show.title %><br/>
<b>내용</b>
<%= @post_show.content %>
<br/><br/>
<a href="/">목록</a>
<hr/>

<%# 댓글 작성 View %>
<div>
    <h2>댓글</h2>
        <%= form_tag("/posts/#{@post_show.id}/comments", method: "post") do %>
        <%= text_field_tag(:comment_body, nil) %>
        <%= submit_tag("댓글 작성") %>
    <% end %>
</div>


<%# 댓글 열람 및 삭제 View %>
<div>
    <h2>댓글 목록</h2>
    <% @post_show.comments.each do |x| %>
        <%= x.body %>
        <%= link_to "글 삭제", "/posts/#{@post_show.id}/comments/#{x.id}", method: "delete" %>
        <hr/>
    <% end %>
</div>